.container_home {
  background-color: rgb(250, 245, 255);
  width: 1000px;
  height: 600px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%; 
  transform: translate(-50%, -50%); 
  border-radius: 25px;
  padding: 20px;
}

body{
  margin-bottom: 5rem;

}

footer{
  display: flex;
}

.campos{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icons{
  display: flex;
  flex-direction: row;
}

.col1{
  width: 25px;
}

.col2{
  width: 25px;
}

.col3{
  width: 35px;
}

.col4{
  width: 130px;
}

.col5{
  width: 200px;
}

.col6{
  width: 200px;
}

.col7{
  width: 150px;
}

.col8{
  width: 25px;
}

.footer_table{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(146, 100, 231);
  width: 100%;
  height: 50px;
  border-radius: 10px;
}

.footer_table input{
  border-style: none;
}

.btn1{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin-left: 10px;
  transition:  all ease-in-out 0.1s;
}
.btn2{
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin-right: 10px;
  transition:  all ease-in-out 0.1s;
}

.btn2:hover{
  scale: 1.125;
}

.btn1:hover{
  scale: 1.125;
}

.id input{
  width: 30px;
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
}

.nome input{
  width: 300px;
  height: 30px;
  border-radius: 10px;
  padding-left: 5px;
}

.lista_container{
  position: relative;
  translate: (0, -50%);
}

button{
  background-color: rgb(226, 217, 245);
}